.positivo {
  background-color: green;
  color: rgb(255, 255, 255);
}

.negativo {
  background-color: red;
  color: rgb(255, 255, 255);
}

.cero {
  background-color: grey;
  color: white;
}

.mensaje {
  font-size: 16px;
}
